<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.projectmigry.migry.admin.mapper.BoardMapper">
	
	<sql id="columnBoard">
		ID,
		CODE,
		USERID,
		NAME,
		SUBJECT,
		CONTENTS,
		PASSWD,
		FILENAME,
		FILESIZE,
		READCOUNT,
		REGDATE,
		DEL
	</sql>
	
	<sql id="columnBoardReply">
		ID,
		BOARDID,
		USERID,
		NAME,
		CONTENTS,
		REGDATE
	</sql>
	
	<select id="selectBoard" parameterType="com.projectmigry.migry.admin.domain.Search" resultType="com.projectmigry.migry.admin.domain.Board">
		SELECT T.* FROM (
			SELECT @RNUM := @RNUM + 1 AS ROWNUM, A.* FROM (
				SELECT <include refid="columnBoard" /> FROM TB_BOARD
				WHERE CODE = #{code} AND DEL = 'N'
				<if test="searchWord != null and searchWord != ''">
					AND ${searchColumn} LIKE '%${searchWord}%'
				</if>
				ORDER BY ID DESC
				LIMIT 18446744073709551615
			) A,
			( SELECT @RNUM := 0 ) R
		) T
		WHERE <![CDATA[ T.ROWNUM >= #{startRow} and T.ROWNUM <= #{endRow} ]]>
	</select>
	
	<select id="countBoard" parameterType="com.projectmigry.migry.admin.domain.Search" resultType="int">
		SELECT COUNT(*) FROM TB_BOARD
		WHERE CODE = #{code} AND DEL = 'N'
		<if test="searchWord != null and searchWord != ''">
			AND ${searchColumn} LIKE '%${searchWord}%'
		</if>
	</select>
	
	<select id="selectBoardOne" parameterType="int" resultType="com.projectmigry.migry.admin.domain.Board">
		SELECT
			<include refid="columnBoard" />
		FROM TB_BOARD
		WHERE DEL = 'N' AND ID = #{id}
	</select>
       
	<insert id="insertBoard" parameterType="com.projectmigry.migry.admin.domain.Board">
		INSERT INTO TB_BOARD(
			<include refid="columnBoard" />
		)
		VALUES(
			#{id},
			#{code},
			#{userid},
			#{name},
			#{subject},
			#{contents},
			#{passwd},
			#{filename},
			#{filesize},
			#{readcount},
			DATE_FORMAT(now(), '%Y-%m-%d'),
			'N'
		)
	</insert>
       
	<update id="updateBoard" parameterType="com.projectmigry.migry.admin.domain.Board">
		UPDATE TB_BOARD SET
			NAME = #{name},
			SUBJECT = #{subject},
			CONTENTS = #{contents},
			FILENAME = #{filename},
			FILESIZE = #{filesize}
		WHERE ID = #{id}
	</update>
	
	<update id="deleteBoard" parameterType="int">
		UPDATE TB_BOARD SET
			DEL = 'Y'
		WHERE ID = #{id}
	</update>
	
	<select id="getMaxBoardID" resultType="int">
		SELECT IFNULL(MAX(ID), 0) FROM TB_BOARD
	</select>
	
	<update id="updateReadCount" parameterType="int">
		UPDATE TB_BOARD SET
			READCOUNT = READCOUNT + 1
		WHERE ID = #{id}
	</update>
	
	<select id="selectLatestBoard" resultType="com.projectmigry.migry.admin.domain.Board">
		SELECT T.* FROM (
			SELECT @RNUM := @RNUM + 1 AS ROWNUM, A.* FROM (
				SELECT <include refid="columnBoard" /> FROM TB_BOARD
				WHERE DEL = 'N'
				ORDER BY ID DESC
				LIMIT 18446744073709551615
			) A,
			( SELECT @RNUM := 0 ) R
		) T
		WHERE <![CDATA[ T.ROWNUM <= 5 ]]>
	</select>
	
	<insert id="insertBoardReply" parameterType="com.projectmigry.migry.admin.domain.BoardReply">
		INSERT INTO TB_BOARD_REPLY(
			<include refid="columnBoardReply" />
		)
		VALUES(
			#{id},
			#{boardid},
			#{userid},
			#{name},
			#{contents},
			DATE_FORMAT(now(), '%Y-%m-%d')
		)
	</insert>
	
	<select id="selectBoardReply" parameterType="com.projectmigry.migry.admin.domain.Search" resultType="com.projectmigry.migry.admin.domain.BoardReply">
		SELECT T.* FROM (
			SELECT @RNUM := @RNUM + 1 AS ROWNUM, A.* FROM (
				SELECT <include refid="columnBoardReply" /> FROM TB_BOARD_REPLY
				WHERE BOARDID = #{code}
				ORDER BY ID DESC
				LIMIT 18446744073709551615
			) A,
			( SELECT @RNUM := 0 ) R
		) T
		WHERE <![CDATA[ T.ROWNUM >= #{startRow} and T.ROWNUM <= #{endRow} ]]>
	</select>
	
	<select id="countBoardReply" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM TB_BOARD_REPLY
		WHERE BOARDID = #{boardid}
	</select>
	
	<update id="deleteBoardReply" parameterType="int">
		DELETE FROM TB_BOARD_REPLY
		WHERE ID = #{id}
	</update>
	
	<select id="getMaxBoardReplyID" resultType="int">
		SELECT IFNULL(MAX(ID), 0) FROM TB_BOARD_REPLY
	</select>

</mapper>