<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.projectmigry.migry.admin.mapper.BoardCodeMapper">
	
	<sql id="columnBoardCode">
		ID,
		NAME,
		USE_BOARD,
		USE_HTML_TAG,
		WRITE_AUTH,
		USE_REPLY
	</sql>
	
	<select id="selectBoardCode" parameterType="java.util.Map" resultType="com.projectmigry.migry.admin.domain.BoardCode">
		SELECT <include refid="columnBoardCode" /> FROM TB_BOARD_CODE
		<if test="mode.equals('U')">
			WHERE USE_BOARD = 'Y'
		</if>
	</select>
	
	<select id="selectBoardCodeOne" parameterType="String" resultType="com.projectmigry.migry.admin.domain.BoardCode">
		SELECT <include refid="columnBoardCode" /> FROM TB_BOARD_CODE
		WHERE ID = #{id}
	</select>
	
	<insert id="insertBoardCode" parameterType="com.projectmigry.migry.admin.domain.BoardCode">
		INSERT INTO TB_BOARD_CODE (
			<include refid="columnBoardCode" />
		) VALUES (
			#{id},
			#{name},
			#{use_board},
			#{use_html_tag},
			#{write_auth},
			#{use_reply}
		)
	</insert>
	
	<update id="updateBoardCode" parameterType="com.projectmigry.migry.admin.domain.BoardCode">
		UPDATE TB_BOARD_CODE SET
			NAME = #{name},
			USE_BOARD = #{use_board},
			USE_HTML_TAG = #{use_html_tag},
			WRITE_AUTH = #{write_auth},
			USE_REPLY = #{use_reply}
		WHERE ID = #{id}
	</update>
	
	<select id="getMaxBoardCodeID" resultType="String">
		SELECT MAX(ID) FROM TB_BOARD_CODE
	</select>
	
</mapper>